<% title "Kassenbuch "+@cash_book.name %>
<% content_for(:sub_menu) do %>
	Hier können Sie neue Posten hinzufügen und einen Bericht erstellen
<% end %>
<br />
<hr/ >
<br />
<p>
	<b>Folgende Aktionen beziehen sich aus das GESAMTE Kassenbuch:</b>
	<br />
  <%= link_to "Kassenbuch bearbeiten", edit_cash_book_path(@cash_book) %> |
  <%= link_to "Kassenbuch löschen", @cash_book, :confirm => 'Sind Sie sicher das Sie das GESAMTE Kassenbuch löschen wollen?', :method => :delete %>
</p>
<br />
<hr/ >
<div class="subc">
<p>
  <strong>Name:</strong>
  <%=h @cash_book.name %>
</p>
<p>
  <strong>Besitzer:</strong>
  <%=h @cash_book.owner.login %>
</p>
</div>
<hr/ >
<div class="subc" id="monthbar">
	Bericht für: <%= render :partial => 'month_bar' %>
	<%= link_to "Alle Einträge anzeigen", entries_path %>
</div>
<br />
<hr />
<br />
<div class="subcolumns">

<div class="c50l" id="entries_form">

	<%= render :partial => 'entries/form' %>
</div>

<div class="c50r" id="last_entries_box">
	<div class="subc" id="notice_entry">

	</div>
	<div class="subc" id="last_entries">
	<%= render :partial => 'entries/last_entries', :collection => @last_entries %>	
	</div>
	
</div>
</div>
